.list {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 55px !important;
    width: 320px;
    height: 1000px;
    display: flex;
    color: white;
    background: linear-gradient(180deg, var(--background) 3%, white);
    flex-direction: column;
    align-items: center; 
    a{
        color: #000000;
    }
    a:hover
    {
        color: gray;
    }
   .divItem
   {
    margin-top: 85px;
    .divTitle
    {
        width: 160px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
    }
    .divDesc
    {
        margin-top: 25px;
        width: 160px;
        text-align: center;
    }
    .socials
    {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }
   }
    
  }
  