body
{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 0;
    background-color: white;
    &::-webkit-scrollbar {
        display: none;
      }

    .Routes{
        margin: 0 320px 0 320px;
    }
}
